# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\jfana\CLionProjects\Sistemas Embebidos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.name
/misc.xml
/modules.xml
/Sistemas Embebidos.iml
/vcs.xml
